VITE_SUPABASE_URL=https://whvtckfmtmzcntcwjste.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6IndodnRja2ZtdG16Y250Y3dqc3RlIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzM1MzkwMzQsImV4cCI6MjA4OTExNTAzNH0.SJF4PeTa8F6RuWTKOlPOiapZmQymwpHJAoAC6EsNuPo
